table {
	width: 100% !important;
	border-collapse: collapse !important
}

table.dataTable {
	border-collapse: collapse !important
}

.table>thead>tr>th {
	border: 1px solid #d4d4d4 !important;
}

.box-title {
	margin-right: 20px
}

.box-tools.pull-right button {
	background: #00897b !important;
	color: #fff;
	width: 40;
	width: 30px;
	height: 30px;
	border-radius: 50%
}

.skin-blue .main-header .navbar {
	background-color: #00897b
}

.skin-blue .main-header .logo {
	background-color: #00796b
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #004d40;
	border-color: #004d40
}

.fa.fa-circle-o {
	color: #00897b
}

.skin-blue .main-header .logo:hover {
	background-color: #004d40
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #004d40
}

.skin-blue .main-header li.user-header {
	background-color: #004d40
}

.control-sidebar-bg {
	z-index: 999
}

.fixedHeader-floating {
	width: auto !important
}

/* table thead tr th {
	text-transform: uppercase
} */
/* .color-header {
	background: #dedede !important
} */

/* .color-body {
	background: #f9f9f9 !important
} */

.color-white {
	color: #fff !important;
}

.btn {
	border-radius: 0px !important;
}

label.radio-inline {
	font-weight: normal !important;
}

#form_register label {
	font-weight: 600;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

.data-pasien .nav-tabs li.active {
	border-top: 5px solid #00897b;
	border-bottom: 1px solid #e6e6e6;
}

.data-pasien .nav-tabs li.active a {
	background: #f9f9f9;
}

.box-profile li.list-group-item {
	padding: 10px !important;
}

.box-profile li.list-group-item a {
	color: #00897b;
}

tfoot {
	background: #dadada;
}

.datepicker {
	padding: 10px;
}

.ajs-message {
	color: #fff;
	text-shadow: none !important;
}

.alertify .ajs-header {
	padding: 7px 20px !important;
	background-color: #fff;
}

.alertify .ajs-footer {
	padding: 5px !important;
}

.alertify .ajs-dialog {
	max-width: 500px;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
	min-width: 75px;
	min-height: 25px;
}

.alertify .ajs-body .ajs-content {
	padding: 16px 0px 16px 0px;
}

button.ajs-button.ajs-ok {
	background: #2196F3;
	border: none;
	color: #fff;
}

button.ajs-button.ajs-cancel {
	border: none;
}

.modal-header {
	background: #d04316;
	color: #fff;
}

p.text-danger {
	margin-bottom: 1px;
	font-style: italic;
	font-size: 12px;
}

.form-group {
	margin-bottom: 5px !important;
}

.nav-tabs li.active {
	border-bottom: 1px solid #e6e6e6;
}

tfoot {
	background: #dadada;
}

.datepicker {
	padding: 10px;
}

.ajs-message {
	color: #fff;
	text-shadow: none !important;
}

.alertify .ajs-header {
	padding: 7px 20px !important;
	background-color: #fff;
}

.alertify .ajs-footer {
	padding: 5px !important;
}

.alertify .ajs-dialog {
	max-width: 500px;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
	min-width: 75px;
	min-height: 25px;
}

.alertify .ajs-body .ajs-content {
	padding: 16px 0px 16px 0px;
}

button.ajs-button.ajs-ok {
	background: #2196F3;
	border: none;
	color: #fff;
}

button.ajs-button.ajs-cancel {
	border: none;
}

.modal-header {
	background: #d04316;
	color: #fff;
}

/* p.text-danger {
	margin-bottom: -8px;
} */

.form-group {
	margin-bottom: 5px !important;
}

/* label {
	font-weight: 500;
} */
.btn {
	border-radius: 0px !important;
}

.my-title {
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.dd3-content {
	min-height: 30px !important;
}

.box-pasien {
	background: #fbfbfb;
}

thead tr th {
	text-transform: capitalize !important;
}

.alert {
	border-radius: 0px !important;
}

@media (min-width: 768px) {
	.modal-90 {
		width: 90%;
		max-width: 1200px;
	}
}

@media (min-width: 768px) {
	.modal-85 {
		width: 85%;
	}
}

@media (min-width: 768px) {
	.modal-80 {
		width: 80%;
	}
}

@media (min-width: 768px) {
	.modal-75 {
		width: 75%;
	}
}

@media (min-width: 768px) {
	.modal-70 {
		width: 70%;
	}
}

.box {
	box-shadow: 0px 3px 7px #dcdcdc;
	border-radius: 0px !important;
}

/*
.box {
	border-radius: 0px !important;
}
*/

.form-select-pasien {
	margin-top: 10px;
	margin-bottom: 15px !important;
}

.box-header {
	background: #00897b;
    color: #ffffff;
}
.box {
    border: 1px solid #00897b;
}
.wizard li.active span.round-tab i {
    color: #00897b !important;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #00897b !important;
}
thead {
	background: #ecf0f5
}

/* .box-header,
thead {
	background: #bdbdbd;
	color: #1d1d1d;
} */

.box-pasien td {
	font-weight: 600;
	border-top: 1px solid #dcdcdc !important;
}

select[readonly].select2-hidden-accessible+.select2-container {
	pointer-events: none;
	touch-action: none;
	cursor: not-allowed;
}

select[readonly].select2-hidden-accessible+.select2-container .select2-selection {
	background: #eee;
	box-shadow: none;
	cursor: not-allowed;
}

select[readonly].select2-hidden-accessible+.select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible+.select2-container .select2-selection__clear {
	display: none;
	cursor: not-allowed;
}

.disabled {
	cursor: not-allowed;
}
.mt7 {
	margin-top: 7px !important;
	margin-bottom: 0px !important;
}
span.select2.select2-container {
    width: 100% !important;
}
.form-horizontal .control-label {
	background: none !important;
}
.main-sidebar {
	width: 240px;
}
.content-header {
	padding: 18px 20px 1px 24px;
}
.box.box-danger {
    border-top-color: #00897b !important;
}